.reviews_section {
    padding: 1rem 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .reviews_section_title {
        color: #00294F;
        font-size: 45px;
        text-transform: uppercase;
        text-align: center;
    }
}

@media screen and (max-width: 460px) {
    .reviews_section {
        .reviews_section_title {
            font-size: 1.5em;
        }
    }
}