.reviews_section {
    padding: 1rem 78px 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .reviews_section_title {
        color: #00294F;
        font-size: 45px;
        text-transform: uppercase;
    }
}