.start {
    width: 78%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 76px 0 0;
    gap: 31px;

    .start_header {
        // width: 63%;
        color: #00294F;
        text-align: center;
        margin-bottom: 38px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 31px;
        text-transform: uppercase;

        .start_header__main {
            padding-inline: 1rem;
            font-weight: 700;
            font-size: 60px;
            line-height: 78px;
            white-space: normal;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .start_header__additional {
            font-size: 20px;
            font-weight: 500;
            line-height: 26px;
        }
    }

    .start_image {
        width: 100%;
    }

    .start_activities {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        color: #0856A0;

        .start_activities_item {
            width: 220px;
            height: 84px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            border: 1.5px solid #00294f85;
            background-color: #FFFFFF;
            padding: 8px;
        }
    }

    .start_button {
        text-transform: uppercase;
        background-color: #00294F;
        color: #fff;
        width: 301px;
        height: 56px;
        font-size: 20px;
    }
}

@media screen and (max-width: 900px) {
    .start {
        padding: 20px 0 0;

        .start_header {
            .start_header__main {
                font-size: 40px;
                line-height: 65px;
            }
        }

        .start_activities {
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: .5rem;
    
            .start_activities_item {
                width: 60%;
            }
        }
    }
}

@media screen and (max-width: 608px) {
    .start {
        .start_header {
            gap: 15px;
            margin-bottom: 4px;

            .start_header__main {
                font-size: 30px;
                line-height: 50px;
            }

            .start_header__additional {
                font-size: 18px;
            }
        }
    }
}

@media screen and (max-width: 458px) {
    .start {
        .start_header {
            .start_header__main {
                font-size: 25px;
                line-height: 40px;
            }

        }

        .start_activities {
            gap: .5rem;
    
            .start_activities_item {
                width: 80%;
            }
        }
    }
}

@media screen and (max-width: 380px) {
    .start {
        .start_header {


            .start_header__main {
                font-size: 18px;
                line-height: 25px;
            }

            .start_header__additional {
                font-size: 14px;
            }

        }
    }
}