.footer {
    width: 100%;
    height: 275px;
    background-color: #00294F;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #FFFFFF;

    .navigation {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 22px;
        font-size: 15px;
        font-weight: 500;

        .navigation_item {
            line-height: 120%;
            text-decoration: none;
            color: inherit;
            font-weight: 400;
            transition: all .1s ease-in;
            cursor: pointer;
      
            &:hover {
              color: #EAB269;
            }
        }
    }

    .logo_container {
        display: flex;
        flex-direction: column;
        width: 18%;
        gap: 25px;

        .logo_container_image {
            opacity: .8;
        }

        .logo_container_btn {
            text-transform: uppercase;
            background-color: #fff;
            color: #00294F;
            width: 100%;
            height: 56px;
            font-size: 16px;
            font-weight: 700;
            border-radius: 5px;
        }
    }

    .contacts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        gap: 18px;

        .contact_logos {
            list-style-type: none;
            display: flex;
            gap: 19px;
            justify-content: center;
            align-items: center;
            margin-top: 47px;

            .contact_logos_item {
                width: 58px;
                height: 58px;
                opacity: .8;
                
                .icon {
                    width: 100%;
                    height: 100%;
                }
            }

        }
    }
}