.swiper_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-top: 2rem;

    .swiper {
        width: 100%;
        min-height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        .swiper_slide {
        }
    
        .card {
            flex: 1;
            .card_image {
                width: 100%;
            }
    
            .card_header {
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                gap: 23px;
                text-align: center;
            }
        }
    
        .card__active {

        }
    }
}