.advantages {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .advantages_list {
        margin: 2rem;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
    }
}

@media screen and (max-width: 900px) {
    .advantages {
        .advantages_list {
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            gap: 20px;
        }
    }
}