.header {
    color: #FFFFFF;
    background-color: #00294F;
    min-height: 72.96px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    // gap: 100px;
    padding-inline: 62px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999999;

    .header_nav {
        // background-color: red;

        .header_menu {
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            gap: 25px;

            .header_menu_item {
                line-height: 150%;
            }
        }
    }

    .header_logo {
        width: 133.35px;
        height: 41.71px;
    }
}