.slider_btn {
    color: #006DB1;
    width: 77px;
    min-width: 77px;
    height: 47px;
    min-height: 47px;

    &:hover {
        cursor: pointer;
    }

    .icon {
        width: 100%;
        height: 100%;
    }
}

.slider_next_btn {
    transform: rotate(90deg);
}

.slider_prev_btn {
    transform: rotate(-90deg);
}