.types_of_job_container {
    width: 100%;
    background-color: #00294F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 34px;
    background-image: url(frame.png);
    background-repeat: no-repeat;
    background-position: 0 0;

    .types_of_job_grid {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(3, 1fr);
        width: 78%;
        gap: 35px;
        padding-top: 62px;
        padding-bottom: 2rem;
        max-width: 1136px;

        .grid_item {
            height: 285px;
            color: #fff;

            .grid_item_img {
                width: 100%;
                height: 87%;
            }
    
            .grid_item_title {
                font-weight: 500;
            }
        }
    
        .grid_item:nth-child(1) {
            grid-column: 1 / 7;
            grid-row: 1;
        }
    
        .grid_item:nth-child(2) {
            grid-column: 7 / 11;
            grid-row: 1;
        }
    
        .grid_item:nth-child(3) {
            grid-column: 1 / 5;
            grid-row: 2;
        }
    
        .grid_item:nth-child(4) {
            grid-column: 5 / 11;
            grid-row: 2;
        }
    
        .grid_item:nth-child(5) {
            grid-column: 1 / 7;
            grid-row: 3;
        }
    
        .grid_item:nth-child(6) {
            grid-column: 7 / 11;
            grid-row: 3;
        }
    }

}

@media screen and (max-width: 460px) {
    .types_of_job_container {
        .types_of_job_grid {
            padding-top: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}