/* TODO: swiper styles to custom elements */
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.swiper-wrapper {
  height: 100%;
  margin: 0 auto;
};

#containerForBulletsProjects {
  margin-top: 50px;
  width: auto;
  display: flex;
  gap: 15px;
  justify-content: center;

  .swiper-custom-bullet {
    display: block;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: #D9D9D9;
  }

  .swiper-custom-bullet-active {
    background-color: #7B7B7B;
  }
}

#containerForBulletsReviews {
  margin-top: 50px;
  width: auto;
  display: flex;
  gap: 15px;
  justify-content: center;

  .swiper-custom-bullet {
    display: block;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: #D9D9D9;
  }

  .swiper-custom-bullet-active {
    background-color: #7B7B7B;
  }
}