/* TODO: swiper styles to custom elements */
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

    overflow: hidden;

}

.swiper-wrapper {
  height: 100%;
  margin: 0 auto;
};

#containerForBulletsProjects {
  margin-top: 1rem;
  width: auto;
  display: flex;
  gap: 15px;
  justify-content: center;

  .swiper-custom-bullet {
    display: block;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: #D9D9D9;
  }

  .swiper-custom-bullet-active {
    background-color: #7B7B7B;
  }
}

#containerForBulletsReviews {
  margin-top: 1rem;
  margin-left: 16%;
  width: auto;
  display: flex;
  gap: 15px;
  justify-content: start;
  align-self: start;

  .swiper-custom-bullet {
    display: block;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: #D9D9D9;
  }

  .swiper-custom-bullet-active {
    background-color: #7B7B7B;
  }
}